<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="fbc41187-2ac3-4b56-85b5-d6af83a63ca7" name="ols Easygoing Beaver" alias="ols-easygoing-beaver" type="Starter" color="" url="https://www.s1.umbraco.io/project/ols-easygoing-beaver">
  <environment type="live" name="Live" id="9f1edda9-2d14-4098-a13b-05056c869067">https://ols-easygoing-beaver.s1.umbraco.io</environment>
</environments>